<nav th:fragment="navbar">
	<div class="navbar">
		<a href="/" class="nav-logo">FYD Rentals</a>
		<div class="nav-menu">
			<a href="/vehicles" class="nav-link">Our Vehicles</a>
			<a href="/sites" class="nav-link">Our Sites</a>

			<div sec:authorize="isAuthenticated()" class="nav-auth">
				<a href="/profile" class="nav-link" th:text="${#authentication.name}">Username</a>
				<a href="/logout" class="nav-link">Logout</a>
			</div>

			<div sec:authorize="isAnonymous()" class="nav-auth">
				<a href="/login" class="nav-link">Login</a>
				<a href="/register" class="nav-link">Sign Up</a>
			</div>
		</div>
	</div>
</nav>
