<!DOCTYPE html>
<html lang="it">

<head>
	<meta charset="UTF-8">
	<title>FYD - SIGN UP</title>
	<link rel="stylesheet" href="/css/style.css?v=1">
</head>

<body>
	<div th:replace="fragments/navbar :: navbar"></div>

	<div class="login-page">
		<div class="login-container">
			<form th:action="@{/register}" method="POST" class="login-form" th:object="${credentials}">
				
				<h1 class="login-title">Sign Up</h1>

				<p class="error-message" th:if="${passwordError}" th:text="${passwordError}"></p>
				<p class="error-message" th:if="${usernameError}" th:text="${usernameError}"></p>

				<div class="login-group">
					<label for="username">Username</label>
					<input type="text" id="username" th:field="*{username}" required>
				</div>

				<div class="login-group">
					<label for="password">Password</label>
					<input type="password" id="password" name="password" required>
				</div>

				<div class="login-group">
					<label for="confirmPassword">Confirm Password</label>
					<input type="password" id="confirmPassword" name="confirmPassword" required>
				</div>

				<div class="login-group" th:object="${user}">
					<label for="name">Name</label>
					<input type="text" id="name" th:field="*{name}" required>
				</div>

				<div class="login-group" th:object="${user}">
					<label for="surname">Surname</label>
					<input type="text" id="surname" th:field="*{surname}" required>
				</div>

				<div class="login-group" th:object="${user}">
					<label for="email">Email</label>
					<input type="email" id="email" th:field="*{email}" required>
				</div>

				<button type="submit">Sign Up</button>

				<p class="login-footer">© FYD Rentals</p>
			</form>
		</div>
	</div>
</body>

</html>
