<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Delete Sites</title>
	<link rel="stylesheet" href="/css/style.css?v=1">
</head>

<body>
	<div th:replace="fragments/navbar :: navbar"></div>
	<h1 class="page-title">Delete Site</h1>
	<h1 th:if="${error}" class="error-message" th:text="${error}">
	</h1>
	<form th:action="@{/administrator/confirmDeleteSite}" method="post" class="form-container">
		<div class="form-group">
			<label for="siteToDeleteId">Select site to delete:</label>
			<select name="siteToDeleteId" id="siteToDeleteId" required onchange="filterNewSiteOptions()">
				<option th:each="site : ${sites}" th:value="${site.id}" th:text="${site.name}">Site</option>
			</select>
		</div>

		<div class="form-group">
			<label for="newSiteId">Reassign vehicles and rentals to:</label>
			<select name="newSiteId" id="newSiteId" required>
				<option th:each="site : ${sites}" th:value="${site.id}" th:text="${site.name}">Site</option>
			</select>
		</div>

		<button type="submit">Confirm</button>
	</form>

	<script>
		function filterNewSiteOptions() {
			const toDeleteId = document.getElementById('siteToDeleteId').value;
			const newSiteSelect = document.getElementById('newSiteId');

			for (const option of newSiteSelect.options) {
				option.style.display = (option.value === toDeleteId) ? 'none' : 'block';
			}
		}

		window.addEventListener('DOMContentLoaded', filterNewSiteOptions);
	</script>

</body>

</html>