<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Add new site</title>
	<link rel="stylesheet" href="/css/style.css?v=1">
</head>

<body>
	<div th:replace="fragments/navbar :: navbar"></div>

	<h1 class="page-title">Add New Site</h1>

	<div th:if="${duplicate}" class="error-message">
		<p th:text="${duplicate}"></p>
	</div>

	<form th:action="@{/site}" method="POST" th:object="${site}" enctype="multipart/form-data" class="delete-vehicle-form">
		<div class="vehicle-grid">

			<div class="form-group-edit">
				<label for="name">Name</label>
				<input required type="text" id="name" th:field="*{name}" placeholder="Site name" />
			</div>

			<div class="form-group-edit">
				<label for="city">City</label>
				<input required type="text" id="city" th:field="*{city}" placeholder="City" />
			</div>

			<div class="form-group-edit">
				<label for="address">Address</label>
				<input required type="text" id="address" th:field="*{address}" placeholder="Address" />
			</div>

			<div class="form-group-edit">
				<label for="postalCode">Postal Code</label>
				<input required type="number" id="postalCode" th:field="*{postalCode}" placeholder="Postal Code" />
			</div>

			<div class="form-group-edit">
				<label for="phone">Phone</label>
				<input required type="text" id="phone" th:field="*{phone}" placeholder="Phone number" />
			</div>

			<div class="form-group-edit">
				<label for="email">Email</label>
				<input required type="email" id="email" th:field="*{email}" placeholder="Email address" />
			</div>

			<div class="form-group-edit">
				<label for="file">Site Photo</label>
				<input type="file" name="sitePhoto" id="file" accept="image/*" required />
			</div>
		</div>

		<button type="submit">Submit</button>
	</form>

	<div th:replace="fragments/footer :: footer"></div>
</body>

</html>
