<!DOCTYPE html>
<html>

<head>
	<title>FYD Vehicle Rentals</title>
	<link rel="stylesheet" href="/css/style.css?v=1">
</head>

<body>
	<div th:replace="fragments/navbar :: navbar"></div>

	<form th:action="@{/availableVehicles}" method="get">
		<label for="startDate">Pick-up date:</label>
		<input type="date" name="startDate" id="startDate" required>

		<label for="endDate">Drop-off date:</label>
		<input type="date" name="endDate" id="endDate" required>

		<label for="city">City:</label>
		<input type="text" name="city" id="city" list="suggestions" placeholder="Enter a city" required>
		<datalist id="suggestions">
			<option th:each="c : ${cityList}" th:value="${c}"> </option>
		</datalist>

		<button type="submit">Search</button>
	</form>
	<div th:replace="fragments/footer :: footer"></div>
</body>

</html>
