<!DOCTYPE html>
<html>

<head>
	<title>Vehicles</title>
	<link rel="stylesheet" href="/css/style.css?v=1">
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400&display=swap">
</head>

<body>
	<div th:replace="fragments/navbar :: navbar"></div>
	<h1 th:if="${#lists.isEmpty(vehicles)}">
		No vehicles are available for the selected period
	</h1>
	<div id="flex-container">
		<a class="flex-item" th:href="@{/vehicle/{id}(id=${vehicle.id})}" th:each="vehicle:${vehicles}">
			<div class="flex-image">
							<img th:if="${vehicle.vehiclePhoto}" th:src="@{'/vehiclePhoto/' + ${vehicle.vehiclePhoto.id}}"
								alt="Vehicle image" />
						</div>
						<h1 th:text="${vehicle.brand + ' ' + vehicle.model}"></h1>
									<div class="vehicle-details">
										<p th:text="'Seats: ' + ${vehicle.seats}"></p>
										<p th:text="'Price per day: €' + ${vehicle.price}"></p>
									</div>

			<form th:action="@{/rentalSummary}" method="get" class="inline-form">
				<input type="hidden" name="siteId" th:value="${vehicle.site.id}" />
				<input type="hidden" name="vehicleId" th:value="${vehicle.id}" />
				<input type="hidden" name="startDate" th:value="${startDate}" />
				<input type="hidden" name="endDate" th:value="${endDate}" />
				<button type="submit">Select Vehicle</button>
			</form>

		</a>
	</div>

	<div th:replace="fragments/footer :: footer"></div>
</body>

</html>