<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title th:text="${site.name + ' - ' + site.city}"></title>

	<link rel="stylesheet" href="/css/style.css?v=1">
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400&display=swap" rel="stylesheet">
</head>

<body>
	<div th:replace="fragments/navbar :: navbar"></div>

	<h1 class="central-title" th:text="${site.name + ' - ' + site.city}"></h1>

	<section id="description-container">
		<div class="description">
			<img class="photo" th:if="${photo != null}" th:src="@{'/sitePhoto/' + ${photo.id}}" alt="Site photo" />
		</div>
		<div class="description">
			<h3>Address:</h3>
			<p th:text="${site.address}"></p>

			<h3>Postal Code:</h3>
			<p th:text="${site.postalCode}"></p>

			<h3>Phone:</h3>
			<p th:text="${site.phone}"></p>

			<h3>Email:</h3>
			<p th:text="${site.email}"></p>
		</div>
	</section>

	<div th:replace="fragments/footer :: footer"></div>
</body>

</html>
