<!DOCTYPE html>
<html>

<head>
	<title>Vehicles</title>
</head>

<body>
	<h1 th:if="${#lists.isEmpty(vehicles)}">
		No vehicles are available for the selected period
	</h1>

	<div class="flex-container" th:each="vehicle:${vehicles}">
		<a class="flex-item" th:href="@{/vehicle/{id}(id=${vehicle.id})}">
			<h1 th:text="${vehicle.brand + ' ' + vehicle.model}"></h1>
		</a>
		<form th:action="@{/rentalSummary}" method="get">
			<input type="hidden" name="siteId" th:value="${vehicle.site.id}" />
			<input type="hidden" name="vehicleId" th:value="${vehicle.id}" />
			<input type="hidden" name="startDate" th:value="${startDate}" />
			<input type="hidden" name="endDate" th:value="${endDate}" />
			<button type="submit">Select Vehicle</button>
		</form>


	</div>
</body>

</html>