<!DOCTYPE html>
<html>

<head>
	<title th:text="${vehicle.brand + ' ' + vehicle.model}"></title>

	<link rel="stylesheet" href="/css/style.css?v=1">
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400&display=swap" rel="stylesheet">
</head>

<body>
	<div th:replace="fragments/navbar :: navbar"></div>

	<h1 class="central-title" th:text="${vehicle.brand + ' ' + vehicle.model}"></h1>

	<section id="description-container">
		<div class="description">
			<img class="photo" th:if="${vehicle.vehiclePhoto}" th:src="@{'/vehiclePhoto/' + ${photo.id}}" />
		</div>
		<div class="description">
			<h3>Model: </h3>
			<p th:text="${vehicle.model}"></p>
			<h3>Transmission: </h3>
			<p th:text="${vehicle.transmission}"></p>
			<h3>Color: </h3>
			<p th:text="${vehicle.color}"></p>
			<h3>Seats: </h3>
			<p th:text="${vehicle.seats}"></p>
			<h3>Price: </h3>
			<p th:text="${vehicle.price + ' €'}"></p>
			<h3>Site</h3>
			<a th:href="@{/site/{id}(id=${vehicle.site.id})}">
				<p th:text="${vehicle.site.name+' - '+vehicle.site.city}"></p>
			</a>
		</div>
	</section>
	
	<p th:if="${error}" th:text="${error}" class="error-message"></p>
	<form th:action="@{/rentalSummary}" method="get">
		<fieldset>
			<legend>Rent this vehicle</legend>

			<div class="form-group">
				<label for="startDate">Pick-up date:</label>
				<input type="date" name="startDate" id="startDate" required>
			</div>

			<div class="form-group">
				<label for="endDate">Drop-off date:</label>
				<input type="date" name="endDate" id="endDate" required>
			</div>

			<input type="hidden" name="siteId" th:value="${vehicle.site.id}" />
			<input type="hidden" name="vehicleId" th:value="${vehicle.id}" />

			<button type="submit">Rent</button>
		</fieldset>
	</form>
	<div th:replace="fragments/footer :: footer"></div>
</body>

</html>